body {
    background-color: grey;
}

/* header sytles */

header {
    background-color: darkgray;
    padding: 10px 0px 10px 0px;


}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 5px;
}

button {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 30px 3px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: transparent;
    transition-duration: .4s;

}

button:hover {
    border-color: white;
    transform: scale(1.2);
}


.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

/* section one flex grow and shrink */

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(202, 202, 202);
    font-size: 50px;
    margin: 50px 0px;
    padding-top: 50px;
    text-align: center;
    text-decoration: overline;

}

.section-one img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}

.section-one {
    background-color: grey;
    height: 400px;


}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    font-size: 60px;
    margin-left: 5%;
    padding-top: 50px;

}

.section-two img {
    display: flex;
    width: 25%;
    margin-left: 60%;
    margin-top: -7%;

}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    font-size: 60px;
    margin-left: 5%;
    padding-top: 60px;

}

h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    font-size: 60px;
    margin-left: 5%;
    margin-top: -5%;

}

pre {
    
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: larger;
    line-height: 30px;
    margin-top: -30%;
    margin-left: 20%;
}

.section-three img {
    display: flex;
    width: 15%;
    margin-left: 55%;
    margin-top: -15%;

}

.pizza img {
    display: flex;
    width: 15%;
    margin-left: 80%;
    margin-top: -41.5%;
    margin-bottom: 15%;
    width: 14%;

}

.cake img {
    display: flex;
    width: 15%;
    margin-left: 55%;
    margin-top: -11%;
}

.last img {
    display: flex;
    margin-left: 80%;
}

 
.Week_1 p {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-top: -38%;
    margin-left: 60%;
}

.Week_2 p {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-top: -3.6%;
    margin-left: 84%;

}

.Week_3 p {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-top: 19.3%;
    margin-left: 60%;
}

.Week_5_6 p {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-top: -0.8%;
    margin-left: 83%;

}

h6 {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    font-size: 60px;
    margin-left: 5%;
    padding-top: 60px;
}

.axial img {
    display: flex;
    width: 15%;
    margin-left: 3.5%;
    margin-top: -5%;
    margin-bottom: 10%;
    width: 18%;
}

.random img {
    display: flex;
    width: 15%;
    margin-left: 28%;
    margin-top: -27.9%;
    margin-bottom: 30%;
    width: 18%;
}

.radial img {
    display: flex;
    width: 15%;
    margin-left: 53%;
    margin-top: -47.9%;
    margin-bottom: 30%;
    width: 18%;
}

.modular img {
    display: flex;
    width: 15%;
    margin-left: 78%;
    margin-top: -47.9%;
    margin-bottom: 30%;
    width: 18%;
}

.transitional img {
    display: flex;
    width: 15%;
    margin-left: 3.5%;
    margin-top: -25%;
    margin-bottom: 30%;
    width: 18%;
}

.bilateral img {
    display: flex;
    width: 15%;
    margin-left: 28%;
    margin-top: -47.9%;
    margin-bottom: 30%;
    width: 18%;
}
.flexgrow-container {
    display: flex;
}

.box1 {
    background-color: skyblue;

    height: 200px;
    flex: 1 1 auto;

}

.box2 {

    background-color: lightgreen;

    height: 200px;
    flex: 1 1 auto;
}

.box3 {

    background-color: darkmagenta;

    height: 200px;
    flex: 1 1 auto;

}

/* section 2 center item */

.section-two {
    background-color: orangered;
    height: 700px;

}

/* section 3 youtube video */

.section-three {
    background-color: lightcoral;
    height: 700px;

}

iframe {
    padding: 5px;

}



/* section 5 media items */

.section-four {
    margin-top: 16%;
    background-color: goldenrod;
    height: 900px;

}