body {
    background-color: grey;
}

/* header sytles */

header {
    background-color: darkgray;
    padding: 10px 0px 10px 0px;


}

h1 {
    font-family: 'Blinker';
    font-size: 70px;
    text-align: center;

    
}

ul {
    list-style-type: none;
    padding: 5px;
}

button {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 30px 3px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: transparent;
    transition-duration: .4s;

}

button:hover {
    border-color: white;
    transform: scale(1.2);
}


.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

/* section one flex grow and shrink */

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(202, 202, 202);
    font-size: 50px;
    margin: 50px 0px;
    padding-top: 50px;
    text-align: center;
    text-decoration: overline;

}

.section-one img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}

.section-one {
    background-color: grey;
    height: 400px;


}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    font-size: 60px;
    margin-left: 5%;
    padding-top: 50px;

}

.section-two img {
    display: flex;
    width: 25%;
    margin-left: 60%;
    margin-top: -7%;

}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    font-size: 60px;
    margin-left: 5%;
    padding-top: 60px;

}

h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    font-size: 60px;
    margin-left: 5%;
    margin-top: -5%;

}

pre {
    
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: larger;
    line-height: 30px;
    margin-top: -30%;
    margin-left: 15%;
}

.section-three img {
    display: flex;
    width: 15%;
    margin-left: 55%;
    margin-top: -15%;

}

.pizza img {
    display: flex;
    width: 15%;
    margin-left: 80%;
    margin-top: -41.5%;
    margin-bottom: 15%;
    width: 14%;

}

.cake img {
    display: flex;
    width: 15%;
    margin-left: 55%;
    margin-top: -11%;
}

.last img {
    display: flex;
    margin-left: 80%;
}

 
.Week_1 p {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-top: -38%;
    margin-left: 60%;
}

.Week_2 p {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-top: -3.6%;
    margin-left: 84%;

}

.Week_3 p {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-top: 19.3%;
    margin-left: 60%;
}

.Week_5_6 p {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-top: -0.8%;
    margin-left: 83%;

}

h6 {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    font-size: 60px;
    margin-left: 5%;
    padding-top: 60px;
}

.axial img {
    display: flex;
    width: 15%;
    margin-left: 20.7%;
    margin-top: -5%;
    width: 105%;
    
}
                    .img__wrap {
                        position: relative;
                        margin-left: 30;
                        margin-top: -5%;
                        height: 270px;
                        width: 257px;

                    }
                    
                    .img__description_layer {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin-left: 53px;
                        background: rgba(48, 49, 53, 0.6);
                        color: #fff;
                        visibility: hidden;
                        opacity: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 105%;
                    
                        /* transition effect. not necessary */
                        transition: opacity .8s, visibility .8s;    
                    }
                    
                    .img__wrap:hover .img__description_layer {
                        visibility: visible;
                        opacity: 1;
                    }
                    
                    .img__description {
                        transition: .2s;
                        transform: translateY(1em);
                    }
                    
                    .img__wrap:hover .img__description {
                        transform: translateY(0);
                    }

.random img {
    position: absolute;
    display: flex;
    width: 15%;
    margin-top: -312%;
    margin-left: 164%;
    width: 105%;
}

                    .img__wrap2 {
                        position: relative;
                        margin-left: 30;
                        margin-top: -20%;
                        height: 270px;
                        width: 257px;

                    }

                    .img__description_layer2 {
                        position: absolute;
                        top: -802px;
                        bottom: 800px;
                        left: 0;
                        right: 0;
                        margin-left: 164%;
                        
                        background: rgba(48, 49, 53, 0.6);
                        color: #fff;
                        visibility: hidden;
                        opacity: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 105%;

                        /* transition effect. not necessary */
                        transition: opacity .8s, visibility .8s;    
                    }

                    .img__wrap2:hover .img__description_layer2 {
                        visibility: visible;
                        opacity: 1;
                    }

                    .img__description2 {
                        transition: .2s;
                        transform: translateY(1em);
                    }

                    .img__wrap2:hover .img__description2 {
                        transform: translateY(0);
                    }

.radial img {
    position:absolute;
    display: flex;
    width: 15%;
    margin-left: 310%;
    margin-top: -299%;
    width: 105%;
}

                    .img__wrap3 {
                        position: relative;
                        margin-left: 30;
                        margin-top: -20%;
                        height: 270px;
                        width: 257px;

                    }

                    .img__description_layer3 {
                        position: absolute;
                        top: -768px;
                        bottom: 768px;
                        left: 0;
                        right: 0;
                        margin-left: 310%;
                        
                        background: rgba(48, 49, 53, 0.6);
                        color: #fff;
                        visibility: hidden;
                        opacity: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 105%;

                        /* transition effect. not necessary */
                        transition: opacity .8s, visibility .8s;    
                    }

                    .img__wrap3:hover .img__description_layer3 {
                        visibility: visible;
                        opacity: 1;
                    }

                    .img__description3 {
                        transition: .2s;
                        transform: translateY(1em);
                    }

                    .img__wrap3:hover .img__description3 {
                        transform: translateY(0);
                    }

                
.modular img {
    position: absolute;
    display: flex;
    width: 15%;
    margin-left: 456.5%;
    margin-top: -287%;
    margin-bottom: 30%;
    width: 105%;
}

                    .img__wrap4 {
                        position: relative;
                        margin-left: 30;
                        margin-top: -20%;
                        height: 270px;
                        width: 257px;

                    }

                    .img__description_layer4 {
                        position: absolute;
                        top: -738px;
                        bottom: 737px;
                        left: 0;
                        right: 0;
                        margin-left: 456.5%;
                        
                        background: rgba(48, 49, 53, 0.6);
                        color: #fff;
                        visibility: hidden;
                        opacity: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 105%;

                        /* transition effect. not necessary */
                        transition: opacity .8s, visibility .8s;    
                    }

                    .img__wrap4:hover .img__description_layer4 {
                        visibility: visible;
                        opacity: 1;
                    }

                    .img__description4 {
                        transition: .2s;
                        transform: translateY(1em);
                    }

                    .img__wrap4:hover .img__description4 {
                        transform: translateY(0);
                    }

.transitional img {
    position: absolute;
    display: flex;
    width: 15%;
    margin-left: 20.7%;
    margin-top: -150%;
    margin-bottom: 30%;
    width: 105%;
}

                    .img__wrap5 {
                        position: relative;
                        margin-left: 30;
                        margin-top: -20%;
                        height: 270px;
                        width: 257px;

                    }

                    .img__description_layer5 {
                        position: absolute;
                        top: -385px;
                        bottom: 387px;
                        left: 0;
                        right: 0;
                        margin-left: 20.7%;
                        
                        background: rgba(48, 49, 53, 0.6);
                        color: #fff;
                        visibility: hidden;
                        opacity: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 105%;

                        /* transition effect. not necessary */
                        transition: opacity .8s, visibility .8s;    
                    }

                    .img__wrap5:hover .img__description_layer5 {
                        visibility: visible;
                        opacity: 1;
                    }

                    .img__description5 {
                        transition: .2s;
                        transform: translateY(1em);
                    }

                    .img__wrap5:hover .img__description5 {
                        transform: translateY(0);
                    }

.bilateral img {
    position: absolute;
    display: flex;
    width: 15%;
    margin-left: 164%;
    margin-top: -138%;
    margin-bottom: 30%;
    width: 105%;
}

                    .img__wrap6 {
                        position: relative;
                        margin-left: 30;
                        margin-top: -20%;
                        height: 270px;
                        width: 257px;

                    }

                    .img__description_layer6 {
                        position: absolute;
                        top: -356px;
                        bottom: 354px;
                        left: 0;
                        right: 0;
                        margin-left: 164%;
                        
                        background: rgba(48, 49, 53, 0.6);
                        color: #fff;
                        visibility: hidden;
                        opacity: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 105%;

                        /* transition effect. not necessary */
                        transition: opacity .8s, visibility .8s;    
                    }

                    .img__wrap6:hover .img__description_layer6 {
                        visibility: visible;
                        opacity: 1;
                    }

                    .img__description6 {
                        transition: .2s;
                        transform: translateY(1em);
                    }

                    .img__wrap6:hover .img__description6 {
                        transform: translateY(0);
                    }

.grid img {
    position: absolute;
    display: flex;
    width: 15%;
    margin-left: 310%;
    margin-top: -126%;
    margin-bottom: 30%;
    width: 105%;
}

                    .img__wrap7 {
                        position: relative;
                        margin-left: 30;
                        margin-top: -20%;
                        height: 270px;
                        width: 257px;

                    }

                    .img__description_layer7 {
                        position: absolute;
                        top: -324px;
                        bottom: 323px;
                        left: 0;
                        right: 0;
                        margin-left: 310%;
                        
                        background: rgba(48, 49, 53, 0.6);
                        color: #fff;
                        visibility: hidden;
                        opacity: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 105%;

                        /* transition effect. not necessary */
                        transition: opacity .8s, visibility .8s;    
                    }

                    .img__wrap7:hover .img__description_layer7 {
                        visibility: visible;
                        opacity: 1;
                    }

                    .img__description7 {
                        transition: .2s;
                        transform: translateY(1em);
                    }

                    .img__wrap7:hover .img__description7 {
                        transform: translateY(0);
                    }


.dilational img {
    display: flex;
    width: 15%;
    margin-left: 78%;
    margin-top: -47.9%;
    margin-bottom: 30%;
    width: 18%;
}
.flexgrow-container {
    display: flex;
}

.box1 {
    background-color: skyblue;

    height: 200px;
    flex: 1 1 auto;

}

.box2 {

    background-color: lightgreen;

    height: 200px;
    flex: 1 1 auto;
}

.box3 {

    background-color: darkmagenta;

    height: 200px;
    flex: 1 1 auto;

}

/* section 2 center item */

.section-two {
    background-color: orangered;
    height: 700px;

}

/* section 3 youtube video */

.section-three {
    background-color: lightcoral;
    height: 700px;

}

.section-five {
    background-color: darkgray;
    height: 700px;
    margin-top: -25%;
}

iframe {
    padding: 5px;

}



/* section 5 media items */

.section-four {
    margin-top: 16%;
    background-color: goldenrod;
    height: 1300px;

}